* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #FFFFFF;
    --red: #FF4F5A;
    --red-dark: #A12C34;
    --gray: #1A2E35;
    --text-white: #FFFFFF;
    --text-gray: #1A2E35;
}

// body {
//     background: var(--red);
//     color: var(--text-gray);
// }

body, input, textarea, select, button {
    font: 400 1rem "Roboto", sans-serif;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}